@font-face {
  font-family: 'MyFont';
  src: url('Cookiemonster-gv11.ttf') format('truetype');
}

.s {
  border-radius: 5px;
  font-size: 17px;
  text-shadow: 0 0 1px #000000;
  font-weight: bold;
  margin-top: 131px;
  margin-left: 15px;
  width: 500px;
  color: rgb(98, 1, 1);
  text-decoration: inherit;
  font-family: "MyFontb";
}

.s:hover {
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modal-content-centered {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99999;
  margin-top: 1%;
}

.modal-inner {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 90vw;
  overflow: wrap;
  flex-wrap: wrap;
  z-index: 999999;
}

.close {
  position: fixed;
  cursor: pointer;
  top: 1%;
  right: 1%;
  font-size: 40px;
  z-index: 9999;
  color: rgb(159, 9, 152);
  background-color: aqua;
  font-family: "MyFont";
  animation-name: animatetop;
  animation-duration: 3s;
}

.close:hover {
  cursor: default;
  opacity: 2;
  transform: rotateX(15deg) rotateY(10deg) rotate3d(1, 1, 1, 15deg);
}

.modal-overlaylnurl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}